<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <list-errors [errors]="errors"></list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Idea Title" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="description"
                type="text"
                placeholder="What's this Idea about?" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control"
                formControlName="body"
                rows="8"
                placeholder="Write your Idea (in markdown)">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Enter tags"
                [formControl]="tagField"
                (keyup.enter)="addTag()" />

              <div class="tag-list">
                <span *ngFor="let tag of article.tagList"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" (click)="removeTag(tag)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="problem"
                rows="2"
                placeholder="What's the real world problem?" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="solution"
                rows="2"
                placeholder="What's the basic solution to problem?" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="usecases"
                rows="4"
                placeholder="List use cases here.." />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="advantages"
                rows="4"
                placeholder="List advantages.." />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="disadvantages"
                rows="4"
                placeholder="List disadvantages.." />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="monetizationPlan"
                rows="2"
                placeholder="How will you monitize?" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                formControlName="plan"
                rows="4"
                placeholder="Execution Plan?" />
            </fieldset> 

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Share
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
